<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Output</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Hiling</h1>
        <h2>Here yours :)</h2>
        Name : <l th:text="${name}"></l>
        <br/><br/>
        Location : <l th:text="${loc}"></l>
        <br/>
        <p>Picture : </p>
        <img th:src="${img}">
    </body>
</html>
